body {

}
/*//首页*/
.aui-bar-warning{
background-color: #03a9f4;
}
.aui-bg-warning{
background-color: #03a9f4;
}
.hfxsmk,.hfhrmk,.hfcwmk,.hfspmk{
border-radius:10px 10px 10px 10px;
}
.aui-btn-warning{
background-color: #03a9f4;
}